.cedvel{
    display: grid;
    width: 600px;
    height: 600px;
    background-color: #9186e6;
    border: 1px dotted black;
    grid-template-columns: auto auto auto auto auto auto ; 
    grid-template-rows: repeat(7, auto);
    grid-template-areas:"b1 b1 b1 b1 b1 b1"
                        "b2 b2 b5 b5 b5 b12"
                        "b2 b2 b6 b6 b11 b12"
                        "b2 b2 b7 b7 b11 b12"
                        "b3 b3 b8 b8 b11 b12"
                        "b3 b3 b9 b10 b13 b12"
                        "b4 b4 b4 b4 b4 b4";

}
.cedvel > div {
    border: 1px solid black;
}   
.b1{
    align-content: center;
    text-align: center;
    grid-area: b1;
}
.b2{
    grid-area: b2;
}
.b3{
    grid-area: b3;
}
.b4{
    grid-area: b4;
}
.b5{
    grid-area: b5;
}
.b6{
    grid-area: b6;
}
.b7{
    grid-area: b7;
}
.b8{
    grid-area: b8;
}
.b9{
    grid-area: b9;
}
.b10{
    grid-area: b10;
}
.b11{
    grid-area: b11;
}
.b12{
    grid-area: b12;
}
.b13{
    grid-area: b13;
}

